

.container{
    padding: 0;
    display: flex;
}

.banner-half{
    background-image: url(../halie-west-hero.jpg);
    background-size: contain;
    width:33vw;
    height: 100vh;
    color: white;
}

.banner-half a{
    color: inherit;
}

.banner-half{
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    align-items: center;
}

h1{
    position: absolute;
}

.form-half{
    display: flex;
    flex-direction: column;
}

button{
    background: #596D48;
    color: white;
    border: 0;
    padding: 10px 30px;
    border-radius: 5px;
}

input:focus{
    appearance: none;
    border: 1px blue solid;
    box-shadow: 10px 5px 5px black;
}

.top, .bottom {
    background: rgb(224, 220, 220);
    flex: 1;
}



form{
    box-shadow: 10px 5px 5px black;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}

.form-row{
    display: flex;
    margin-bottom: 30px;
}

.form-field{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}