

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    padding: 0;
    display: flex;
}

.banner-half{
    background-image: url(../halie-west-hero.jpg);
    background-size: cover;
    width:33vw;
    height: 100vh;
    color: white;
}

.banner-half a{
    color: inherit;
}

.banner-half{
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    align-items: center;
}

.form-half{
    display: flex;
    flex-direction: column;
}

button{
    background: #596D48;
    color: white;
    border: 0;
    padding: 10px 30px;
    border-radius: 5px;
    width: fit-content;
    font-weight: bold;
}

input:focus{
    appearance: none;
    border: 1px blue solid;
    box-shadow: 10px 5px 5px black;
}

.top, .bottom {
    background: rgb(224, 220, 220);
    flex: 1;
}



form{
    box-shadow: 10px 40px 5px black;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
}

.form-row{
    display: flex;
    margin-bottom: 30px;
}

.form-field{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.top{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 50px;
    font-size: 1.5em;
    font-weight: bold;
}

.top p:nth-child(1){
    margin-bottom: 25px;
}

.bottom{
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 20px;
}

label{
    text-transform: uppercase;
    font-size: .75em;
    letter-spacing: .1em;
}

em{
    font-style: italic;
}

.bottom a{
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}

h2{
    font-size: 1.5rem;
}

input:focus{
    outline-color:blue;
    outline: 5px;
}

input{
    border-radius: 5px;
    border-color: rgba(128, 128, 128, 0.075);
    font-size: 1.25rem;
}


.heading-wrapper{
    background: rgba(0, 0, 0, 0.692);
    width: 100%;
    text-align: center;
    position: absolute;
    top: 160px;
    height: 112px;
    display: flex;
    justify-content: center;
}





 h1{
    font-size: 7rem;
    display: block;
    height: 1em;
    opacity: 100%;
    text-transform: uppercase;
    font-family: 'norsebold';
 }

 img{
    height: 100%;
    width: auto;
    object-fit: contain;
 }